<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Please verify you email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hello, <span th:text="${user.userName}"></span></p>
        
        <p>
            You have updated your email on the Rideshare service on
            <span th:text="${#dates.format(subscriptionDate)}">28-12-2012</span>
        </p>
        
        <p>
            Please verify your updated email clicking on the link 
           <a th:href="@{http://54.67.12.172:9002/users/verify-email(id=${user.userId}, token=${token})}">Verify email</a>
        </p>

        <p>
            Regards, <br />
            &emsp; <em>The Rideshare Team</em>
        </p>
        <a href="">
        <img src="https://i.ibb.co/yWLXPS5/revature-logo.png" height="110" width="300"/>
      	</a>
    </body>
</html>
