<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Ride Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
      .button {
        background-color: #FF5733;
        border: none;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
    </head>
    <body>
    	<h2>Driver Request from:</h2>
        <h3 th:text="${user.firstName} + ' ' +  ${user.lastName}"></h3>
        <p>
             Pickup location: <span th:text= "${user.hAddress}"></span>  
        </p>
        <br/>
        <p><strong>Reservation date is set to:</strong>
        <span th:text="${#dates.format(reservation.travelDate)}"></span>
        </p>
        <br/>
        <a th:href= "@{http://54.67.12.172/approve(Driver_Id=${driver.userId},User_Id=${user.userId},Reservation_Id=${reservation.reservationId})}" class="button">Approve</a>
        <a th:href= "@{http://54.67.12.172/decline(id=${user.userId},Reservation_Id=${reservation.reservationId})}" class="button">Decline</a>
        <br/>
      
      <p>
            Regards, <br/>
            &emsp; <em>The Rideshare Team</em>
       </p>  
        <a href="">
        <img src="https://i.ibb.co/yWLXPS5/revature-logo.png" height="110" width="300"/>
      	</a>
        
    </body>
</html>
